# Tienes que crear el archivo '.credentials.env' en la carpeta '.aws' con las siguientes variables:

AWS_ACCESS_KEY_ID = 'AKIAJQ4ZQZQZQZQZQZQZQ' # Acá irá tu AWS_ACCESS_KEY_ID ligado a tu IAM
AWS_SECRET_ACCESS_KEY = 'AKIAJQ4ZQZQZQZQZQZQZQ' # Acá irá tu AWS_SECRET_ACCESS_KEY ligado a tu IAM

